node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Android specific
.gradle/
local.properties
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/
android/app/build/
android/build/
